/* FeedbackList Styles */
.feedback-list {
  margin-top: 20px;
}

.feedback-list .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.feedback-list .header h2 {
  margin: 0;
}

.feedback-list .header button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.feedback-list .header button:hover {
  background-color: #45a049;
}

.feedback-list p{
  margin: 10px;
}


.feedback-list table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.feedback-list th,
.feedback-list td {
  padding: 12px 15px;
  text-align: left;
}

.feedback-list th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.feedback-list tr:nth-child(even) {
  background-color: #f9f9f9;
}

.feedback-list tr:hover {
  background-color: #e6e6e6;
}

.feedback-list td button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.feedback-list td button:hover {
  background-color: #d32f2f;
}