/* FeedbackList Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.feedback-list {
  margin-top: 35px;
  width: 90vw;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  overflow: auto; 
}

.feedback-list .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(white, #f7e1c24b);
  padding: 10px;
  border-radius: 5px 5px 0 0;
}


.feedback-list .header h2 {
  padding: 10px;
  background-color: white;
  border: solid 1px wheat;
  border-radius: 15px;
  font-family: "Arvo", serif; 
  font-weight: 400;
  margin-left: 25px;
  margin-right: auto;  
}

.header-search input{
  margin: 20px;
  padding: 10px;
  font-family:"Arvo", serif ;
  border: solid 2px rgba(128, 128, 128, 0.545);
  border-radius: 10px;
}
.header-refresh{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.header-refresh img{
  background-color: rgba(255, 255, 255, 0);
  height: 29px;
  width: 29px;
  border: none;
  transition: .2s;
}
.header-refresh img:active{
  transform: scale(1.1) rotate(10deg);
}

.feedback-list p{
  margin: 10px;
}


.feedback-list table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative; 
}

.feedback-list th,
.feedback-list td {
  padding: 12px 15px;
  text-align: left;
}

.feedback-list th {
  background-color: rgba(34, 28, 11, 0.497);
  color: white;
  font-family: "Arvo", serif;
  font-weight: 400;
  border: solid 1px rgb(38, 38, 38);
  position: sticky; 
  top: 0; 
  z-index: 1;
}

.feedback-list tr:nth-child(even) {
  background-color: #f9f9f9;
}

.feedback-list tr:hover {
  background-color: #e6e6e6;
}

.delete-btn {
  margin: 10px;
  background-color: #df463b;
  font-family:"Arvo", serif ;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  opacity: 75%;
}
.delete-btn:disabled{
  background-color: grey;
  cursor: not-allowed;
}
.delete-btn:hover{
  opacity: 100%;
}


/* Mobile Styles */
@media (max-width: 767px) {
  .feedback-list {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }

  .feedback-list .header {
    flex-direction: row;
    align-items: center;
  }

  .feedback-list .header h2 {
    margin-left: 0;
    font-size: 20px;
  }

  .header-search input {
    margin: 5px;
  }
}